/*
 *************************************************************************
 * The contents of this file are subject to the Openbravo  Public  License
 * Version  1.1  (the  "License"),  being   the  Mozilla   Public  License
 * Version 1.1  with a permitted attribution clause; you may not  use this
 * file except in compliance with the License. You  may  obtain  a copy of
 * the License at http://www.openbravo.com/legal/license.html 
 * Software distributed under the License  is  distributed  on  an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific  language  governing  rights  and  limitations
 * under the License. 
 * The Original Code is Openbravo ERP. 
 * The Initial Developer of the Original Code is Openbravo SLU 
 * All portions are Copyright (C) 2011 Openbravo SLU 
 * All Rights Reserved. 
 * Contributor(s):  ______________________________________.
 ************************************************************************
*/


.OBApplicationMenuTree {
  border-color: #585858;
}

.OBApplicationMenuTreeItemCellOver,
.OBApplicationMenuTreeItemCellSelectedOver,
.OBApplicationMenuTreeItemCellSubmenuFieldOver,
.OBApplicationMenuTreeItemCellSubmenuFieldSelectedOver,
.OBApplicationMenuTreeItemCellKeysFieldOver,
.OBApplicationMenuTreeItemCellKeysFieldSelectedOver,
.OBApplicationMenuTreeItemCellTitleFieldOver,
.OBApplicationMenuTreeItemCellTitleFieldSelectedOver {
  color: #424242;
  background-color: #F2F2F2;
}

.OBApplicationMenuTreeItemCellIcon,
.OBApplicationMenuTreeItemCellIconField,
.OBApplicationMenuTreeItemCellIconFieldSelected,
.OBApplicationMenuTreeItemCellIconFieldOver,
.OBApplicationMenuTreeItemCellIconFieldSelectedOver,
.OBApplicationMenuTreeItemCellIconFieldDisabled {
  border-color: #848484;
}

.OBApplicationMenuTreeItemCellIconFieldOver,
.OBApplicationMenuTreeItemCellIconFieldSelectedOver,
.OBApplicationMenuTreeItemCellIconFieldSubmenuFieldOver,
.OBApplicationMenuTreeItemCellIconFieldSubmenuFieldSelectedOver,
.OBApplicationMenuTreeItemCellIconFieldKeysFieldOver,
.OBApplicationMenuTreeItemCellIconFieldKeysFieldSelectedOver,
.OBApplicationMenuTreeItemCellIconFieldTitleFieldOver,
.OBApplicationMenuTreeItemCellIconFieldTitleFieldSelectedOver {
  background-color: #F2F2F2;
}

.OBApplicationMenuTreeItemCellIconFieldDisabled {
  background-image: url(./images/application-menu/menuSeparator.png);
}