/*
 *************************************************************************
 * The contents of this file are subject to the Openbravo  Public  License
 * Version  1.1  (the  "License"),  being   the  Mozilla   Public  License
 * Version 1.1  with a permitted attribution clause; you may not  use this
 * file except in compliance with the License. You  may  obtain  a copy of
 * the License at http://www.openbravo.com/legal/license.html
 * Software distributed under the License  is  distributed  on  an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific  language  governing  rights  and  limitations
 * under the License.
 * The Original Code is Openbravo ERP.
 * The Initial Developer of the Original Code is Openbravo SLU
 * All portions are Copyright (C) 2010-2014 Openbravo SLU
 * All Rights Reserved.
 * Contributor(s):  ______________________________________.
 ************************************************************************
*/

/*=======================================================================
 * Contains styles for:
 * View Form Styles
 * Form Fields/Items
 * Date Picker
 * Form Buttons
 * Image Item
 * LinkButton Item
 * SectionItem Button
 * Dialog
 * Note section
=======================================================================*/

/*=======================================================================
 * View Form Styles 
=======================================================================*/

/*=======================================================================
 * Form Field Styles 
=======================================================================*/

.OBFormFieldInput,
.OBFormFieldInputFocused,
.OBFormFieldInputError,
.OBFormFieldInputHint,

.OBFormFieldInputRequired,
.OBFormFieldInputRequiredFocused,
.OBFormFieldInputRequiredError,
.OBFormFieldInputRequiredHint,

.OBFormFieldSelectInput,
.OBFormFieldSelectInputError,
.OBFormFieldSelectInputFocused,
.OBFormFieldSelectInputHint,

.OBFormFieldSelectInputErrorFocused,
.OBFormFieldSelectInputErrorRequired,
.OBFormFieldSelectInputErrorRequiredFocused,

.OBFormFieldSelectInputPending,

.OBFormFieldSelectInputRequired,
.OBFormFieldSelectInputRequiredFocused,
.OBFormFieldSelectInputRequiredError,
.OBFormFieldSelectInputRequiredHint,

.OBFormFieldDateInputRequired,
.OBFormFieldDateInputRequiredFocused,
.OBFormFieldDateInputRequiredError,
.OBFormFieldDateInputRequiredHint,

.OBFormFieldDateInput,
.OBFormFieldDateInputFocused,
.OBFormFieldDateInputError,
.OBFormFieldDateInputHint,

.OBFormFieldNumberInput,
.OBFormFieldNumberInputDisabled,
.OBFormFieldNumberInputFocused,
.OBFormFieldNumberInputError,
.OBFormFieldNumberInputHint,

.OBFormFieldNumberInputRequired,
.OBFormFieldNumberInputRequiredDisabled,
.OBFormFieldNumberInputRequiredFocused,
.OBFormFieldNumberInputRequiredError,
.OBFormFieldNumberInputRequiredHint,

.OBFormFieldImageInput,
.OBFormFieldImageInputRequired {
  border-color: #848484;
  background-color: #F2F2F2;
}

.OBFormFieldInputRequiredDisabled,
.OBFormFieldSelectInputRequiredDisabled,
.OBFormFieldDateInputRequiredDisabled,
.OBFormFieldNumberInputRequiredDisabled,
.OBFormFieldInputDisabled,
.OBFormFieldSelectInputDisabled,
.OBFormFieldDateInputDisabled,
.OBFormFieldNumberInputDisabled {
  background-color: transparent;
}

.OBFormFieldSelectInputPending {
  background-color: #ffdfdf;
}

.OBFormFieldSelectInputRequired:focus,
.OBFormFieldSelectInputRequiredFocused,
.OBFormFieldSelectInputRequiredSelectedFocused,
.OBFormFieldSelectInputErrorRequired:focus,
.OBFormFieldSelectInputErrorRequiredFocused,
.OBFormFieldInputRequired:focus,
.OBFormFieldInputRequiredFocused,
.OBFormFieldInputRequiredSelectedFocused,
.OBFormFieldDateInputRequired:focus,
.OBFormFieldDateInputRequiredFocused,
.OBFormFieldDateInputRequiredSelectedFocused,
.OBFormFieldNumberInputRequired:focus,
.OBFormFieldNumberInputRequiredFocused,
.OBFormFieldNumberInputRequiredSelectedFocused,

.OBFormFieldInput:focus,
.OBFormFieldInputFocused,
.OBFormFieldInputSelectedFocused,
.OBFormFieldSelectInputFocused,
.OBFormFieldSelectInputSelectedFocused,
.OBFormFieldSelectInput:focus,
.OBFormFieldSelectInputError:focus,
.OBFormFieldSelectInputErrorFocused,
.OBFormFieldDateInput:focus,
.OBFormFieldDateInputFocused,
.OBFormFieldDateInputSelectedFocused
.OBFormFieldNumberInput:focus,
.OBFormFieldNumberInputFocused,
.OBFormFieldNumberInputSelectedFocused {
  border-color: #dcb53e;
}

.OBFormFieldInputRequiredHint,

.OBPickListBody,
.OBPickListBodyFocused {
  border-color: #848484;
  background-color: #F2F2F2;
}

.OBFormFieldPickListCell,
.OBFormFieldPickListCellFocused,
.OBFormFieldPickListCellDark {
  color: #333333;
  background-color: #F2F2F2;
}

.OBFormFieldPickListCellSelected,
.OBFormFieldPickListCellSelectedFocused,
.OBFormFieldPickListCellSelectedDark {
  color: #333333;
  background-color: #848484;
}

.OBFormFieldInputRequired,
.OBFormFieldInputRequiredFocused,
.OBFormFieldInputRequiredError,
.OBFormFieldInputRequiredHint,

.OBFormFieldSelectInputRequired,
.OBFormFieldSelectInputRequiredFocused,
.OBFormFieldSelectInputRequiredError,
.OBFormFieldSelectInputRequiredHint,

.OBFormFieldSelectInputErrorRequired,
.OBFormFieldSelectInputErrorRequiredFocused,

.OBFormFieldDateInputRequired,
.OBFormFieldDateInputRequiredFocused,
.OBFormFieldDateInputRequiredError,
.OBFormFieldDateInputRequiredHint,

.OBFormFieldNumberInputRequired,
.OBFormFieldNumberInputRequiredFocused,
.OBFormFieldNumberInputRequiredError,
.OBFormFieldNumberInputRequiredHint,

.OBFormFieldImageInputRequired {
  background-color: #ffffcc;
}

/*=======================================================================
 * Date Picker 
=======================================================================*/

.OBDateChooserBottomButton,
.OBDateChooserBottomButtonFocused,
.OBDateChooserBottomButtonSelected {
  background-image: url(./images/form/dateChooser-bg-button.png);
}

.OBDateChooserBottomButtonOver,
.OBDateChooserBottomButtonFocusedOver,
.OBDateChooserBottomButtonSelectedOver {
  background-image: url(./images/form/dateChooser-bg-button_Over.png);
}

.OBDateChooserBottomButtonDown,
.OBDateChooserBottomButtonFocusedDown,
.OBDateChooserBottomButtonSelectedDown {
  background-image: url(./images/form/dateChooser-bg-button_Down.png);
}

.OBDateChooserWeekendButton,
.OBDateChooserWeekendButtonOver,
.OBDateChooserWeekendButtonDown,
.OBDateChooserWeekendButtonSelected,
.OBDateChooserWeekendButtonSelectedOver,
.OBDateChooserWeekendButtonSelectedDown {
  background-color: #848484;
  border-color: #848484;
}

.OBDateChooserNavButtonOver,
.OBDateChooserNavButtonDown {
  color: #dcb53e;
}

.OBDateChooserWeekend,
.OBDateChooserWeekendOver,
.OBDateChooserWeekendSelected,
.OBDateChooserWeekendDisabled,
.OBDateChooserWeekendDisabledOver,
.OBDateChooserWeekendDisabledDown {
  border-color: #848484;
  background-color: #848484;
}

.OBDateChooserWeekdayOver,
.OBDateChooserWeekendOver {
  border-color: #dcb53e;
}

.OBDateChooserWeekdaySelected,
.OBDateChooserWeekdaySelectedOver,
.OBDateChooserWeekdayDown,
.OBDateChooserWeekdaySelectedDown,
.OBDateChooserWeekendSelected,
.OBDateChooserWeekendSelectedOver,
.OBDateChooserWeekendDown,
.OBDateChooserWeekendSelectedDown {
  border-color: #dcb53e;
}

/*=======================================================================
 * Form Button Styles 
=======================================================================*/

.OBFormButton,
.OBFormButtonOver,
.OBFormButtonFocused,
.OBFormButtonFocusedOver,
.OBFormButtonDown,
.OBFormButtonFocusedDown,
.OBFormButtonSelected,
.OBFormButtonSelectedFocused,
.OBFormButtonSelectedDown,
.OBFormButtonSelectedFocusedDown,
.OBFormButtonSelectedOver,
.OBFormButtonSelectedFocusedOver,
.OBFormButtonDisabled,
.OBFormButtonSelectedDisabled {
  background-image:url(./images/form/textButton-bg-normal.png);
}

.OBFormButtonDisabled,
.OBFormButtonSelectedDisabled {
  background-image: url(./images/form/textButton-bg-disabled.png);
}

.OBFormButtonFocused,
.OBFormButtonFocusedOver,
.OBFormButtonSelectedFocused,
.OBFormButtonSelectedFocusedOver,
.OBFormButtonSelectedFocusedDown {
  border-color: #dcb53e;
}

.OBFormButtonOver,
.OBFormButtonFocusedOver,
.OBFormButtonSelectedFocused,
.OBFormButtonSelectedFocusedOver {
  background-image: url(./images/form/textButton-bg-hover.png);
}

.OBFormButtonDown,
.OBFormButtonFocusedDown,
.OBFormButtonSelectedDown,
.OBFormButtonSelectedFocusedDown {
  background-image: url(./images/form/textButton-bg-down.png);
}

/*=======================================================================
 * Image Item
=======================================================================*/

/*=======================================================================
 * LinkButton Item
=======================================================================*/

.OBLinkButtonItem,
.OBLinkButtonItemOver,
.OBLinkButtonItem:hover {
  color: #585858;
}

.OBLinkButtonItemDown,
.OBLinkButtonItem:active {
  color: #2E2E2E;
}

.OBLinkButtonItemFocused,
.OBLinkButtonItemFocusedOver,
.OBLinkButtonItemFocusedDown,
.OBLinkButtonItem:focus {
  color: #dcb53e;
}

/*=======================================================================
 * SectionItem Button
=======================================================================*/

/*=======================================================================
 * Used in the label of a foreign key field, for link image 
=======================================================================*/

.OBFormFieldLinkButton:hover {
  color: #585858;
}

/*=======================================================================
 * Dialog
=======================================================================*/

/*=======================================================================
 * Note section
=======================================================================*/

.OBNoteListGridOtherUserNoteCell,
.OBNoteListGridOtherUserNoteCellOver {
  background-color: #585858;
}

.OBNoteListGridDelete {
  color: #585858;
}
