/*
 *************************************************************************
 * The contents of this file are subject to the Openbravo  Public  License
 * Version  1.1  (the  "License"),  being   the  Mozilla   Public  License
 * Version 1.1  with a permitted attribution clause; you may not  use this
 * file except in compliance with the License. You  may  obtain  a copy of
 * the License at http: //www.openbravo.com/legal/license.html 
 * Software distributed under the License  is  distributed  on  an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific  language  governing  rights  and  limitations
 * under the License. 
 * The Original Code is Openbravo ERP. 
 * The Initial Developer of the Original Code is Openbravo SLU 
 * All portions are Copyright (C) 2011 Openbravo SLU 
 * All Rights Reserved. 
 * Contributor(s):  ______________________________________.
 ************************************************************************
*/

/*============================================================
  The main navbar
============================================================*/

/*============================================================
  Navbar button itself
============================================================*/

/*============================================================
  Navbar component styling
============================================================*/

.OBNavBarComponent {
  background-color: #D8D8D8;
 
  border-top-color: #D8D8D8;
}

.OBNavBarComponent:hover {
  border-color: #585858;
  background-image: url(./images/navbar/navbar-right-border.png);
}

.OBNavBarComponentSelected {
  border-color: #585858;
  background-image: url(./images/navbar/navbar-right-border.png);
}

/*============================================================
  User profile form with tabs
============================================================*/

.OBNavBarComponentFormTabSetContainer {
  border-top-color: #585858;
}

/* note only the top styles are present here because in Openbravo tabs in forms are shown in the top
if the tab headers are on the right, left or bottom the same styles can be used */

.OBNavBarComponentFormTabButtonTopSelected,
.OBNavBarComponentFormTabButtonTopSelectedDown,
.OBNavBarComponentFormTabButtonTopSelectedDisabled,
.OBNavBarComponentFormTabButtonTopSelectedOver {
  border-top-color: #585858;
  border-right-color: #585858;
  border-bottom-color: #fff;
  border-left-color: #585858;
}

.OBNavBarComponentFormTabButtonTopSelectedFocused,
.OBNavBarComponentFormTabButtonTopSelectedFocusedOver,
.OBNavBarComponentFormTabButtonTopSelectedFocusedDown {
  border-top-color: #dcb53e;
  border-right-color: #dcb53e;
  border-bottom-color: #fff;
  border-left-color: #dcb53e;
  color: #dcb53e;
}

/*============================================================
  Standard flyout styling
============================================================*/

.OBFlyoutLayout {
  border-color: #585858;
}

/*=======================================================================
 * OBQuickLaunchRecentLinkButton Item
=======================================================================*/

.OBQuickLaunchRecentLinkButtonDown,
.OBQuickLaunchRecentLinkButton:active {
  color: #2E2E2E;
}

.OBQuickLaunchRecentLinkButtonFocused,
.OBQuickLaunchRecentLinkButtonFocusedOver,
.OBQuickLaunchRecentLinkButtonFocusedDown,
.OBQuickLaunchRecentLinkButton:focus {
  color: #dcb53e;
}

/*=======================================================================
 * OBHelpAboutLinkButton Item
=======================================================================*/

.OBHelpAboutLinkButtonDown,
.OBHelpAboutLinkButton:active {
  color: #2E2E2E;
}

.OBHelpAboutLinkButtonFocused,
.OBHelpAboutLinkButtonFocusedOver,
.OBHelpAboutLinkButtonFocusedDown,
.OBHelpAboutLinkButton:focus {
  color: #dcb53e;
}