/*
 *************************************************************************
 * The contents of this file are subject to the Openbravo  Public  License
 * Version  1.1  (the  "License"),  being   the  Mozilla   Public  License
 * Version 1.1  with a permitted attribution clause; you may not  use this
 * file except in compliance with the License. You  may  obtain  a copy of
 * the License at http://www.openbravo.com/legal/license.html
 * Software distributed under the License  is  distributed  on  an 'AS IS'
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific  language  governing  rights  and  limitations
 * under the License.
 * The Original Code is Openbravo ERP.
 * The Initial Developer of the Original Code is Openbravo SLU
 * All portions are Copyright (C) 2011 Openbravo SLU
 * All Rights Reserved.
 * Contributor(s):  ______________________________________.
 ************************************************************************
*/

.OBFormPersonalizerPreviewPanel {
  border-color: #585858;
}

.OBPersonalizationTreeGridCellSelectedOver,
.OBPersonalizationTreeGridCellSelectedHiddenOver {
  background-color: #ffe1c0;
}

.OBPersonalizationPullDownMenu {
  background-color: #2E2E2E;
  border-color: #dcb53e;
}

.OBPersonalizationPullDownMenuCellIcon,
.OBPersonalizationPullDownMenuCellIconSelected,
.OBPersonalizationPullDownMenuCellIconOver,
.OBPersonalizationPullDownMenuCellIconSelectedOver,
.OBPersonalizationPullDownMenuCellIconDisabled {
  border-color: #424242;
}

.OBPersonalizationPullDownMenuCellSeparator,
.OBPersonalizationPullDownMenuCellSeparatorSelected,
.OBPersonalizationPullDownMenuCellSeparatorOver,
.OBPersonalizationPullDownMenuCellSeparatorSelectedOver,
.OBPersonalizationPullDownMenuCellSeparatorDisabled {
  border-color: #424242;
}

.OBPersonalizationPullDownMenuCellDark,
.OBPersonalizationPullDownMenuCellOver,
.OBPersonalizationPullDownMenuCellIconOver,
.OBPersonalizationPullDownMenuCellIconSelectedOver,
.OBPersonalizationPullDownMenuCellSelectedOver,
.OBPersonalizationPullDownMenuCellSeparatorOver,
.OBPersonalizationPullDownMenuCellSeparatorSelectedOver {
  background-color: #1C1C1C;
}