/*
 *************************************************************************
 * The contents of this file are subject to the Openbravo  Public  License
 * Version  1.1  (the  "License"),  being   the  Mozilla   Public  License
 * Version 1.1  with a permitted attribution clause; you may not  use this
 * file except in compliance with the License. You  may  obtain  a copy of
 * the License at http://www.openbravo.com/legal/license.html
 * Software distributed under the License  is  distributed  on  an 'AS IS'
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific  language  governing  rights  and  limitations
 * under the License.
 * The Original Code is Openbravo ERP.
 * The Initial Developer of the Original Code is Openbravo SLU
 * All portions are Copyright (C) 2011 Openbravo SLU
 * All Rights Reserved.
 * Contributor(s):  ______________________________________.
 ************************************************************************
*/


/*============================================================
 1) Main Tab Headers
============================================================*/

.OBTabBarMain {
  background-color: #D8D8D8;
  background-image: url(./images/tab/tabBarMain_bg.png);
}

.OBTabSetMainContainer {
  border-top-color: #585858;
}

.OBTabBarButtonMainTopSelected,
.OBTabBarButtonMainTopSelectedFocused,
.OBTabBarButtonMainTopSelectedFocusedOver,
.OBTabBarButtonMainTopSelectedFocusedDown,
.OBTabBarButtonMainTopSelectedDown,
.OBTabBarButtonMainTopSelectedDisabled {
  background-image: url(./images/tab/tabBarButtonMain_Selected.png);
}

.OBTabBarButtonMainTopSelectedOver {
  background-image: url(./images/tab/tabBarButtonMain_Selected_Over.png);
}

.OBTabBarButtonMainTopSelectedInactive,
.OBTabBarButtonMainTopSelectedFocusedInactive,
.OBTabBarButtonMainTopSelectedFocusedOverInactive,
.OBTabBarButtonMainTopSelectedFocusedDownInactive,
.OBTabBarButtonMainTopSelectedDownInactive,
.OBTabBarButtonMainTopSelectedDisabledInactive {
  background-image: url(./images/tab/tabBarButtonMain_Selected_Inactive.png);
}

.OBTabBarButtonMainTopSelectedOverInactive {
  background-image: url(./images/tab/tabBarButtonMain_Selected_Inactive_Over.png);
}

.OBTabBarButtonMainTop,
.OBTabBarButtonMainTopDown,
.OBTabBarButtonMainTopDisabled,

.OBTabBarButtonMainTopInactive,
.OBTabBarButtonMainTopDownInactive,
.OBTabBarButtonMainTopDisabledInactive {
  background-image: url(./images/tab/tabBarButtonMain_Unselected.png);
}

.OBTabBarButtonMainTopOver,

.OBTabBarButtonMainTopOverInactive {
  background-image: url(./images/tab/tabBarButtonMain_Unselected_Over.png);
}
/*============================================================
 2) Child Tab Headers
============================================================*/

.OBTabBarChild {
  background-color: #FFFFFF;
  background-image: url(./images/tab/tabBarChild_bg.png);
}

.OBTabSetChildContainer {
  border-top-color: #585858;
}

/* styles for simple css-styled tabs*/
/* note only the top styles are present here because in Openbravo tabs in forms are shown in the top
if the tab headers are on the right, left or bottom the same styles can be used */

.OBTabBarButtonChildTopSelected,
.OBTabBarButtonChildTopSelectedFocused,
.OBTabBarButtonChildTopSelectedFocusedOver,
.OBTabBarButtonChildTopSelectedFocusedDown,
.OBTabBarButtonChildTopSelectedDown,
.OBTabBarButtonChildTopSelectedDisabled {
  background-image: url(./images/tab/tabBarButtonChild_Selected.png);
}

.OBTabBarButtonChildTopSelectedOver {
  background-image: url(./images/tab/tabBarButtonChild_Selected_Over.png);
}

.OBTabBarButtonChildTopSelectedInactive,
.OBTabBarButtonChildTopSelectedFocusedInactive,
.OBTabBarButtonChildTopSelectedFocusedOverInactive,
.OBTabBarButtonChildTopSelectedFocusedDownInactive,
.OBTabBarButtonChildTopSelectedDownInactive,
.OBTabBarButtonChildTopSelectedDisabledInactive {
  background-image: url(./images/tab/tabBarButtonChild_Selected_Inactive.png);
}

.OBTabBarButtonChildTopSelectedOverInactive {
  background-image: url(./images/tab/tabBarButtonChild_Selected_Inactive_Over.png);
}
.OBTabBarButtonChildTop,
.OBTabBarButtonChildTopDown,
.OBTabBarButtonChildTopDisabled,

.OBTabBarButtonChildTopInactive,
.OBTabBarButtonChildTopDownInactive,
.OBTabBarButtonChildTopDisabledInactive {
  background-image: url(./images/tab/tabBarButtonChild_Unselected.png);
}

.OBTabBarButtonChildTopOver,

.OBTabBarButtonChildTopOverInactive {
  background-image: url(./images/tab/tabBarButtonChild_Unselected_Over.png);
}
